In [12]:
import mysql.connector as connector

In [13]:
connection = connector.connect(
    user="capstone",
    password="db-Capstone-Course8"
)

In [14]:
cursor = connection.cursor()
cursor.execute("USE LittleLemonDB")

In [15]:
show_tables_query = "SHOW tables"
cursor.execute(show_tables_query)

results = cursor.fetchall()
print(results)

[('Bookings',), ('CustomerDetails',), ('Menu',), ('MenuItems',), ('OrderDeliveryStatus',), ('Orders',), ('ordersview',), ('StaffInfo',), ('StaffRoles',), ('task2_ordersover150',), ('task3_menusover2',)]

In [16]:
query1 = """SELECT 
    CONCAT(c.FirstName, ' ', c.LastName) AS FullName, 
    c.Phone, 
    c.Email, 
    o.TotalCost AS 'Bill Paid' 
    FROM CustomerDetails AS c 
    LEFT JOIN Orders AS o 
    ON c.CustomerId = o.CustomerId 
    WHERE o.TotalCost > 60"""
cursor.execute(query1)
headings = cursor.column_names
print(headings)
results = cursor.fetchall()
for row in results:
    print(row)

('FullName', 'Phone', 'Email', 'Bill Paid')
('Vanessa McCarthy', '555-123-1234', 'johndoe@example.com', Decimal('250'))
('Marcus Romero', '555-432-1243', 'jane.doe@example.com', Decimal('200'))
('Jake Abbot', '555-678-4455', 'jabbot@examples.com', Decimal('150'))
('Jake Abbot', '555-678-4455', 'jabbot@examples.com', Decimal('133'))
('Joseph Tobbs', '555-999-0099', 'jostobbs@examples.com', Decimal('175'))